.dark {
    .menu {
        border: 2px solid $main-dark-color;
        background-color: $main-dark-color;
        color: $white-color;
        &__lang, &__theme, &__units {
            &-item {
                color: $white-color;
                &:hover {
                    background-color: rgba($white-color, 0.5);
                }
                &.active {
                    background-color: $darkgrey-color;
                }
            }
        }
        &__divider {
            background-color: $darkgrey-color;
        }
        &__title {
            background-color: $main-dark-color;
        }
    }
}