@media (max-width:  575px) {
    .button {
        &_more {
            display: block;
            text-align: center;
            margin: 0 auto;
            margin-top: 20px;
            width: 70%;
        }
    }
}

