@media (max-width:  1200px) {
    .screen {
        padding: 12px 12px;
    }
}

@media (max-width: 767px) {
    .screen {
        &__wrapper {
            margin-top: 70px;
            display: grid;
            grid-template-columns: 1fr;
        }
    }
}