@import "libs/bootstrap-reboot.min";
// @import "libs/font";

@import "base/variables";

* {
    font-family: 'Roboto Condensed', sans-serif;
}

.container {
    position: relative;
    max-width: 1140px;
    margin: 0 auto;
}

@import 'blocks/header';
@import 'blocks/menu';
@import 'blocks/nav';
@import 'blocks/screen';
@import 'blocks/footer';
@import 'blocks/card-header';
@import 'blocks/air-quality-main';
@import 'blocks/air-quality-info';

@import 'dark-theme/screen-dark';
@import 'dark-theme/nav-dark';
@import 'dark-theme/menu-dark';
@import 'dark-theme/card-header-dark';
@import 'dark-theme/footer-dark';
@import 'dark-theme/header-dark';
@import 'dark-theme/air-quality-main-dark';
@import 'dark-theme/air-quality-info-dark';
@import 'dark-theme/mobile-dark';

@import 'media/card-header-media';
@import 'media/footer-media';
@import 'media/header-media';
@import 'media/mobile';
@import 'media/nav-media';
@import 'media/screen-media';
@import 'media/air-quality-main-media';
@import 'media/air-quality-info-media';