//light theme
$main-color: #125184;
$grey-color: #dedede;
$grey2-color: #6f7585;
$blue-color: #1b4de4;
$deepblue-color: #112e55;

//dark theme
$main-dark-color: #27272a;
$darklight-color: #3c3d3f;
$darkgrey-color: #898a83;
$yellow-color: #ffea00;

//general
$black-color: #000;
$white-color: #fff;