.air-quality {
    font-size: 20px;
    line-height: 20px;
    font-weight: 300;
    background-color: $white-color;
    color: $black-color;
    border-radius: 10px;
    box-shadow: 0 0 10px 0 rgba($black-color, 0.2);
    &__wrapper {
        padding: 20px;
    }
    &__data {
        margin-top: 20px;
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
    }
    &__progress {
        overflow: hidden;
        margin-right: 10px;
    }
    &__phrase-title {
        font-weight: 400;
    }
    &__phrase-descr {
        color: $grey2-color;
        font-size: 14px;
    }
}