.nav {
    height: 41px;
    background-color: $deepblue-color;
    font-size: 18px;
    line-height: 18px;
    font-weight: 300;
    nav {
        height: 41px;
        list-style-type: none;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
    &__item {
        padding-top: 11px;
        cursor: pointer;
        transition: 0.1s all;
        height: 100%;
        a {
            color: $white-color;
            &:hover {
                text-decoration: none;
            }
        }
        &:hover, &.active {
            border-bottom: 2px solid #fff;
        }
    }
}