.primary {
    font-size: 18px;
    line-height: 20px;
    font-weight: 300;
    color: $black-color;
    background-color: $white-color;
    border-radius: 10px;
    box-shadow: 0 0 10px 0 rgba($black-color, 0.2);
    padding: 20px 30px;
}